<!DOCTYPE html>
<html lang="en">
<head>
    <% include('../partials/head') %>
</head>
<body>
    <%- include('../partials/header') %>

    <form method="GET" action="./inici">
        <h3>Nombre del juego:</h3>
        <input type="text" name="name" placeholder="Nombre del juego" required>
        <h3>Precio:</h3>
        <input type="number" name="price" placeholder="9.99" required>
        <h3>Descripción:</h3>
        <input type="text" name="description" placeholder="Breve descripción del juego..." required>
        <h3>Imagen (jpg, png o webp):</h3>
        <input type="file" alt="Añade una imagen al producto" accept="image/jpg, image/png, image/webp" required>
        <button type="submit">Penjar joc!</button>
    </form>
</body>
</html>