<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Esborrar</title>
</head>
<body id="delete-body">
    <%- include('../partials/nav') %>
    <h1>Esborrar item</h1>
    <main id="delete-main">
        <label>Nombre del juego:</label>
        <p><% __append(name) %></p>
        <label>Precio:</label>
        <p><% __append(price) %>€</p>
        <label>Descripción:</label>
        <p><% __append(description) %></p>
        <label>Imagen:</label>
        <img src="imgs/<% __append(image) %>">
        <a id="boton-borrar" href="/actionDelete?id=<% __append(id) %>">BORRAR</a>
    </main>
</body>
</html>