<!DOCTYPE html>
<html lang="en">
<head>
    <% include('../partials/head') %>
</head>
<body>
    <%- include('../partials/header') %>

    <form method="GET">
        <h3>Nombre del juego:</h3>
        <input type="text" name="name" placeholder="Nombre del juego" required>
        <h3>Precio:</h3>
        <input type="number" name="price" placeholder="9.99" required>
        <h3>Descripción:</h3>
        <input type="text" name="description" placeholder="Breve descripción del juego..." required>
        <h3>Imagen:</h3>
        <input type="image" src="image" alt="Añade una imagen al producto" required>
    </form>
</body>
</html>