<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/nav') %>

    <main id="item-main">
        <%- include('../partials/item-card') %>
    </main>
</body>
</html>