body  {
    /*background-color: blue;*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}


/* nav.ejs */
#nav-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #e2e2e2;
    padding: 10px 20px;
    justify-content: space-around;
    position: sticky;
    top: 0;
}

nav > a[href="/"] {    /* Los "a" que estén dentro de un "nav" que contengan un href="/inici" */
    margin-right: 15px;
}

nav > a {
    padding: 10px;
    border-radius: 10px;
    margin: 5px 0px;
    transition: all .5s;
}

nav > a:hover {
    background: #cacaca;
}


/* add.ejs */
#add-main {
    display: grid;
    place-content: center;
    margin-top: 12vh;
}

#add-main h1 {
    text-align: center;
    margin-bottom: 30px;
}

#add-product {
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    padding: 35px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px 0px #cacaca;
}

#add-product label {
    font-weight: 600;
    font-size: medium;
    margin-top: 0px;
    margin-bottom: 10px;
}

#add-product input {
    margin-bottom: 20px;
}

#add-product input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#add-product input[type="text"], input[type="number"] {
    font-size: 14px;
    padding: 3px;
    border: 2px solid #cacaca;
    border-radius: 5px;
    transition: 0.3s;
    outline: none;
}

#add-product input[type="text"]:hover, input[type="number"]:hover {
    border: 2px solid #5e5e5e;
}

#add-product input[type="text"]:focus, input[type="number"]:focus {
    border: 2px solid #1573ff;
}

#add-product button[type="submit"] {
    color: white;
    font-size: medium;
    cursor: pointer;
    padding: 7px;
    background-color: #1573ff;
    border: none;
    border-radius: 5px;
    transition: .3s;
}

#add-product button[type="submit"]:hover {
    background-color: #0057da;
}

.form-required {
    color: red;
}

/**
*? Para item-card.ejs (los estilos) se puede reutilizar todo haciendo que los estilos dependas del "main padre" del que estén dentro.
*?      > item.ejs: #item-main article {height: toda la pantalla;...}
*?      > inici.ejs: #inici-main article --> que sea mucho mas pequeño y que salgan todos pues como si fuera amazon, cartitas pequeñas
*/